[Unit]
Description=GitHub Webhook Server (Flask)
After=network.target

[Service]
Type=simple
User=ruchi
WorkingDirectory=/home/ruchi/WebHook
ExecStart=/home/ruchi/WebHook/venv/bin/python /home/ruchi/WebHook/app.py
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target