[Unit]
Description=GitHub Webhook Server
After=network.target

[Service]
Type=simple
User=ruchi
WorkingDirectory=/home/ruchi/WebHook
ExecStart=/usr/bin/node /home/ruchi/WebHook/dist/index.js
Restart=on-failure
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target